html.simplify {
  --border-radius: 0.5rem;
}
html.simplify::-webkit-scrollbar {
  width: 16px;
}
html.simplify::-webkit-scrollbar-thumb {
  background: #dadce0;
  background-clip: padding-box;
  border: 4px solid transparent;
  border-radius: 8px;
  box-shadow: none;
  min-height: 50px;
}
html.simplify::-webkit-scrollbar-track, html.simplify::-webkit-scrollbar-track:hover {
  background: rgb(250, 251, 253);
  border: none;
}
html.simplify[data-theme=dark]::-webkit-scrollbar-thumb {
  background-color: #555;
}
html.simplify[data-theme=dark]::-webkit-scrollbar-track, html.simplify[data-theme=dark]::-webkit-scrollbar-track:hover {
  background-color: rgb(15, 15, 15);
}
html.simplify nav.sticky {
  position: fixed;
  left: 0;
  padding-bottom: 36px;
}
html.simplify nav.sticky li.group:not(:hover) > a > span,
html.simplify nav.sticky ul.text-sm li:not(:hover) > button > span {
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}
html.simplify nav.sticky li.group + li:not(.group):has(> hr),
html.simplify nav.sticky ul.text-sm li:has(> a),
html.simplify nav.sticky ul.text-sm li:has(> hr) {
  display: none;
}
html.simplify .compose {
  position: fixed;
  bottom: 88px;
  left: 28px;
  width: 24px;
  height: 24px;
  padding: 24px;
  box-sizing: border-box;
  cursor: pointer;
  background-image: url("data:image/svg+xml,%3Csvg width='100%25' height='100%25' viewBox='0 0 27 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.1002 2.32004L16.1802 4.24002L22.3602 10.42L24.0802 8.70004C25.8102 6.97004 25.9702 4.19002 24.4402 2.49002C23.6302 1.59002 22.5102 1.07004 21.3002 1.04004C21.2602 1.04004 21.2202 1.04004 21.1802 1.04004C20.0102 1.04004 18.9202 1.49004 18.0902 2.32004H18.1002Z'%3E%3C/path%3E%3Cpath d='M15.4515 4.96936L14.0161 6.40479L20.1962 12.5849L21.6316 11.1495L15.4515 4.96936Z'%3E%3C/path%3E%3Cpath d='M16.7499 10.5001C16.7499 10.5001 16.7299 10.5401 16.7099 10.5601L9.23986 18.0301C9.13986 18.1301 9.00986 18.1801 8.88986 18.1801C8.76986 18.1801 8.62986 18.1301 8.53986 18.0301C8.33986 17.8301 8.33986 17.5201 8.53986 17.3201L16.0099 9.8501C16.0099 9.8501 16.0499 9.82009 16.0699 9.81009L13.3399 7.08008L4.17986 16.2401C3.80986 16.6101 3.60986 17.0901 3.60986 17.6101V22.2701C3.60986 22.6701 3.92986 22.9901 4.32986 22.9901H8.98986C9.50986 22.9901 9.98986 22.7901 10.3599 22.4201L19.5199 13.2601L16.7499 10.4901V10.5001Z'%3E%3C/path%3E%3Cpath d='M25.1901 1.82009C24.1901 0.710086 22.8201 0.0800868 21.3301 0.0400868H18.8301C17.3301 0.0200868 15.9401 0.560064 14.8901 1.61006L0.960098 15.5401C0.410098 16.0901 0.100098 16.8301 0.100098 17.6201V22.2801C0.100098 23.2301 0.870098 24.0001 1.8201 24.0001H8.9801C9.7601 24.0001 10.5001 23.6901 11.0601 23.1401L24.7901 9.41008C26.8901 7.31008 27.0601 3.91006 25.1801 1.83006L25.1901 1.82009ZM10.3601 22.4301C9.9901 22.8001 9.5101 23.0001 8.9901 23.0001H4.3201C3.9201 23.0001 3.6001 22.6801 3.6001 22.2801V17.6201C3.6001 17.1001 3.8001 16.6201 4.1701 16.2501L13.3301 7.09007L16.0601 9.82009C16.0601 9.82009 16.0201 9.84006 16.0001 9.86006L8.5301 17.3301C8.3301 17.5301 8.3301 17.8401 8.5301 18.0401C8.6301 18.1401 8.7601 18.1901 8.8801 18.1901C9.0001 18.1901 9.1401 18.1401 9.2301 18.0401L16.7001 10.5701C16.7001 10.5701 16.7301 10.5301 16.7401 10.5101L19.5101 13.2801L10.3501 22.4401L10.3601 22.4301ZM20.2301 12.5601L14.0501 6.38008L15.4901 4.94008L21.6701 11.1201L20.2301 12.5601ZM24.1001 8.69008L22.3801 10.4101L16.2001 4.23009L18.1201 2.31008C18.9501 1.48008 20.0401 1.03008 21.2101 1.03008C21.2501 1.03008 21.2901 1.03008 21.3301 1.03008C22.5401 1.06008 23.6601 1.58009 24.4701 2.48009C26.0001 4.18009 25.8401 6.96008 24.1101 8.69008H24.1001Z' fill='%23591ED7'%3E%3C/path%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 28px;
  background-position: center;
  z-index: 49;
}
html.simplify:has(.relative.mb-3 > .shadow) {
  overflow: hidden;
  padding-right: 16px;
}
html.simplify:has(.relative.mb-3 > .shadow) main > h1:first-child {
  transition: all 0s;
  padding-bottom: 120px;
}
html.simplify main {
  margin: 0 auto;
}
@media screen and (min-width: 770px) {
  html.simplify main {
    padding: 1rem 50px 1rem 100px;
  }
}
html.simplify main textarea {
  transition: all 0s;
}
html.simplify main textarea:not(:focus) {
  resize: none;
}
html.simplify main > .relative.mb-3:has(textarea) {
  margin-bottom: 48px;
}
html.simplify main > .relative.mb-3:has(textarea):has(> .shadow) {
  position: fixed;
  z-index: 11;
  background: rgba(0, 0, 0, 0.5019607843);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  padding-top: 20vh;
  margin-top: 0px;
}
html.simplify main > .relative.mb-3:has(textarea):has(> .shadow) > .shadow {
  max-width: 650px;
  margin: 0 auto;
}
html.simplify main > .relative.mb-3:has(textarea):has(> .shadow) > .shadow form .flex.items-center {
  display: flex;
}
html.simplify main > .relative.mb-3:has(textarea):has(> .shadow) > .shadow textarea {
  min-height: 150px;
}
html.simplify main > .relative.mb-3:has(textarea) .sticky form .flex.items-center {
  display: none;
}
html.simplify main img.image-aspect.object-cover {
  object-position: top left;
}
html.simplify main .hover-light .overflow-hidden.rounded-2xl:has(img.image-aspect.object-cover) {
  border: 1px solid rgba(0, 0, 0, 0.1254901961);
}
html.simplify main .hover-light {
  margin-bottom: 48px;
  border-radius: var(--border-radius);
  background-color: rgba(255, 255, 255, 0.5647058824);
  box-shadow: 0 1px 3px rgba(70, 70, 70, 0.2);
  transition-duration: 0.3s;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, box-shadow;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
html.simplify main .hover-light:hover {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  background-color: rgba(227, 227, 244, 0.4);
}
html.simplify main .hover-light:has(.link-line) {
  margin-bottom: 0px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
html.simplify main .hover-light:has(.link-line) ~ div:has(> .hover-light) .hover-light {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
html.simplify main .hover-light + div:has(> .shadow textarea) {
  margin-top: -48px;
  margin-bottom: 48px;
}
html.simplify main .hover-light:has(.link-line) + hr + a[href*=status], html.simplify main .hover-light:has(.link-line) + div.relative + hr + a[href*=status] {
  margin-bottom: 48px;
  background-color: rgba(255, 255, 255, 0.5647058824);
  box-shadow: 0px 1px 3px rgba(70, 70, 70, 0.2);
  border-radius: 0 0 var(--border-radius) var(--border-radius);
}
html.simplify main .hover-light div.flex.justify-between:has(path[d^="M17.8004 9.72508C17.8004 7.80008"]) {
  transition: opacity 200ms ease-in-out;
}
html.simplify main .hover-light div.flex.justify-between:has(path[d^="M17.8004 9.72508C17.8004 7.80008"]):not(:hover) {
  opacity: 0.5;
}
html.simplify main.usingKeys .focusedCard {
  border-radius: var(--border-radius);
  box-shadow: 0 0 5px rgb(59, 130, 246);
}
html.simplify main hr {
  display: none;
}
html.simplify main form > div.relative > textarea {
  overflow-y: auto;
}
html.simplify main body {
  margin: 2rem;
  font: 1rem/1.4 system-ui, sans-serif;
}
html.simplify main label {
  display: block;
}
html.simplify[data-theme=dark] main .hover-light {
  background-color: rgba(30, 33, 49, 0.5647058824);
  box-shadow: 0 1px 3px rgba(180, 180, 180, 0.3);
}
html.simplify aside {
  position: fixed;
  right: 0px;
  min-height: fit-content !important;
  padding-bottom: 100px;
  transition: right 100ms ease-in-out;
}
html.simplify aside:not(:has(input[placeholder]:focus)):not(:hover) {
  opacity: 1;
  right: -236px;
  background-color: transparent;
}
html.simplify aside:not(:has(input[placeholder]:focus)):not(:hover) .sticky .search-widget {
  background-color: transparent;
  border-color: transparent;
  box-shadow: none;
}
html.simplify aside:not(:has(input[placeholder]:focus)):not(:hover) .sticky .search-widget > div {
  margin-right: 30px;
}
html.simplify aside .sticky.bg-white:has(input[placeholder]) {
  background: transparent;
  margin-top: 16px;
}
html.simplify aside section.relative.mt-2 {
  display: none;
}
html.simplify .dialog {
  background-color: rgba(0, 0, 0, 0.5647058824);
}